<!DOCTYPE HTML>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="theme-color" content="#157878">
      
      <title>GreenVulcano</title>
      <link rel="stylesheet" href="libs/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="libs/css/bootstrap-3.3.5.min.css"/>
      <link rel="stylesheet" href="libs/css/font-awesome.min.css"/>

      <!--Custom CSS -->
      <link rel="stylesheet" href="libs/css/app-custom.css"/>
      <script type="text/javascript" src="libs/js/bootstrap.js"></script>
      <script type="text/javascript" src="libs/js/jquery-3.2.0.min.js"></script>
      <script type="text/javascript" src="libs/js/bootstrap.min.js"></script>


   </head>
   <div class="content">
</div>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" style="height:100px">
  <div class="container-fluid">
    <!--Logo -->
  <div class="navbar-header">
      <img height="80" width="160" style="padding-top:10px"src="assets/logo_gv.png" alt="GreenVulcano Technologies">
      </div>
      <!--GreenVulcano redirect Link -->
    <ul class="nav navbar-nav navbar-right">
      <span>
      <div class="nav-text navbar-right"><p class="navbar-text"><a href="http://www.greenvulcanotechnologies.com/" id="linkC"  class="navbar-link">GreenVulcanoTechnologies.com</a></p>
      </span>
    </ul>

</nav>
</body>
<footer id="myFooter">
        <div class="container">
            <ul>
                <li><a href="#" id="linkC">Company Information</a></li>
                <li><a href="#" id="linkC">Contact us</a></li>
                <li><a href="#" id="linkC">Getting Started</a></li>
                <li><a href="#" id="linkC">Prova</a></li>
            </ul>
        <p class="footer-copyright">© 2017 GreenVulcano Technologies</p>
        </div>
        <div class="footer-social">
            <a href="#" class="social-icons"><i class="fa fa-facebook"></i></a>
            <a href="#" class="social-icons"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="social-icons"><i class="fa fa-twitter"></i></a>
        </div>
    </footer>
</html>
